.nctable_new
{

  border: 1px solid #281B49;
  margin-bottom:20px;
  background-color:#281B49;
}

.nctable_new td
{

  border: 1px solid #281B49;
  padding:2px;

}

.nctable_new2
{

  border: 1px solid #281B49;
  margin-bottom:20px;
}