<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <!-- Define some output appenders -->
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="D:\Temp\logs\Nursing"/>
            <appendToFile value="true"/>
            <param name="rollingStyle" value="Composite"/>
            <datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
            <maxSizeRollBackups value="-1" />
            <maximumFileSize value="400KB" />
            <param name="StaticLogFileName" value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{ip}%message%newline"/>
            </layout>
        </appender>
        <appender name="TraceAppender" type="log4net.Appender.RollingFileAppender">
            <file value="D:\Temp\logs\Trace\Nursing"/>
            <appendToFile value="true"/>
            <param name="rollingStyle" value="Composite"/>
            <datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
            <maxSizeRollBackups value="-1" />
            <maximumFileSize value="1024KB" />
            <param name="StaticLogFileName" value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss,fff}|%message%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelMatchFilter">
                <levelToMatch value="INFO" />
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
            <param name="LogName" value="Nursing" />
            <param name="ApplicationName" value="Nursing RN Web Site"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message" />
            </layout>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <!-- Log Level -->
            <level value="ERROR"/>
            <!-- Targets -->
            <appender-ref ref="RollingLogFileAppender"/>
        </root>
        <logger name="WindowsEventLogAppender">
            <level value="INFO" />
            <appender-ref ref="EventLogAppender"/>
        </logger>
        <logger name="NursingLibrary.Utilities.TraceHelper" additivity="false">
            <level value="INFO" />
            <appender-ref ref="TraceAppender" />
        </logger>
    </log4net>
</configuration>



